@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}


body {
    font-family: 'Montserrat', Sans-Serif;
    background-color: #1DA1F2;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 800;
    padding: 5% 25%;
}

h1 {
    font-family: 'Quicksand', Sans-Serif;
    font-size: 40pt;
}

h2 {
    font-size: 24pt;
}

br {
    display: block;
    margin: 10px 0;
}

/* Thanks, Loni for this anim */
a {
    color: #ffffff;
    text-decoration: overline #1DA1F2;
    font-weight: bold;
    position: relative; /*creates new positioning context so that manual sizing works below*/
}

a::before{
  background-color: #1DA1F2;
  
  position: absolute; /*so that it overlaps*/
  z-index: -1; /*stay back bitch*/
 
  top:0; /*width and height are wack here so we use manual sizing instead*/
  bottom:0;
  left:-.2em;
  right:-.2em;
  content: ' '; /*so that the box doesnt get optimized away*/

  transition:0.2s;
  transform: scaleY(0);
  transform-origin: top center; /*so that scale works from top to bottom*/
}

a:hover::before{
  transform: scaleY(1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2.5vh;
    width: 100%;
    text-align: center;
    background-color: #373F47;
}

.container {
    position: relative;
}

#clipboard {
    position: absolute;
    right: -5ch;
    bottom: 0;
    height: 100%;
    width: 5ch;
    border: 0;
    padding: 0;
    color: #333333;
    border-radius: 5px;
    transition: 0.2s;
}

#clipboard:hover {
    color: #5c5c5c;
    background-color: #F0E2D1;
}

#linkOutput {
    background-color: #FAF5EF;
    width: 100%;
    padding: 12px 0px 12px 20px;
    color: #333;
    border-radius: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

#linkOutput > p {
    margin: 0;
}

#form {
    width: 100%;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-size: 12pt;
    font-weight: 800;
    border: 0;
}

input[type=submit] {
    border-radius: 5px;
    width: 25%;
    background-color: #FAF5EF;
    border: none;
    text-decoration: none;
    padding: 12px 20px;
    transition: 0.2s;
    color: #333;
    font-family: inherit;
    font-size: 12pt;
    font-weight: 800;
}

input[type=submit]:hover {
    background-color: #F0E2D1;
}

.about {
    width: 75%;
}
